name: Python

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup requirements
      run: python3 -m pip install -U maturin

    - name: Build & install package
      run: python3 -m pip install .

    - name: Test
      run: python3 -m pytest