on:
    release:
      types: [created]
jobs:
    release:
      name: release ${{ matrix.target }}
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          include:
            - target: x86_64-pc-windows-gnu
            - target: x86_64-unknown-linux-musl
            - target: x86_64-apple-darwin
      steps:
        - uses: actions/checkout@master
        - name: Compile and release
          uses: rust-build/rust-build.action@v1.4.5
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            RUSTTARGET: ${{ matrix.target }}
            ARCHIVE_TYPES: tar.gz
    publish:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
              override: true
        - uses: katyo/publish-crates@v2
          with:
              registry-token: ${{ secrets.CRATE_AUTH_TOKEN }}